name: Generate Pacman Game

on:
  schedule:
    - cron: "0 */24 * * *" 
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  generate:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - name: generate-snake-game-from-github-contribution-grid
        uses: Platane/snk/svg-only@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/pacman-contribution-graph.svg?color_snake=#f7df1e&color_dots=#bfbdbe,#f7df1e,#ff9100,#ff4d4d,#4d94ff
            dist/pacman-contribution-graph-dark.svg?palette=github-dark&color_snake=#f7df1e&color_dots=#30363d,#f7df1e,#ff9100,#ff4d4d,#4d94ff
          
      - name: push pacman-contribution-graph to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
